.container-square__txt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 70px;
}

.txt-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
}
